.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.listado{
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul a{
    text-decoration: none;
    color: black;
    padding: 30px;
    font-size: 20px;
}

