.carrito{
    text-decoration: none;
    margin: 50px;
    font-size: 20px;
}

.contador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding: 10px;
    margin: 20px;
}

button{
    padding: 10px;
}

/* .children{
    min-height: 100vh;
} */